<div>
	<h2> People </h2>
</div>
<p>
<%= link_to "Create New Person", controller: "people" , action: "new" %>
</p>
<div>
<% @persons.each do |person| %>
	
	<div> <!-- need to define some css at some point -->
		<!-- <a href="http://www.w3schools.com">Visit W3Schools</a> -->
		<!-- what does data-id do in this case?  -->
		<a href ="/people/<%= person.id %>" ><%= person.last_name %></a>
	</div>

<% end %>
</div>