<div>
	<p> Items </p>
</div>
<p>
<%= link_to "Create New Item", controller: "items" , action: "new" %>
</p>
<div>
<% @items.each do |item| %>
	
	<div> <!-- need to define some css at some point -->
		<!-- <a href="http://www.w3schools.com">Visit W3Schools</a> -->
		<!-- what does data-id do in this case?  -->
		<a href ="/items/<%= item.id %>" data-id="<%= item.id %>"><%= item.serial %></a>
	</div>

<% end %>
</div>