<div>
	<p> Items </p>
</div>
<p>
<%= link_to "Create New Item", controller: "items" , action: "new" %>
</p>
<div>
<% @items.each do |item| %>
	
	<div> 
		<%= link_to "#{item.manufacturer.name.to_s + " " + item.model.name.to_s}", item_path(item) %>
	</div>

<% end %>
</div>